
.my-button {
    -fx-background-color:  #83C2FF;
    -fx-background-radius: 10;
    -fx-border-color: #58ACFD;
    -fx-border-radius: 10;
    -fx-border-width: 2px;
}

.my-button:hover {
    -fx-opacity: 0.8;
}